<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" *ngIf="currentUser && markAuthorComment" (click)="removeComment()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="currentUser && markAuthorComment" (click)="toggleComments()">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <mde-popover #userCommentLikesPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverOffsetX]="-10"
                 [mdePopoverOffsetY]="-12"
                 [mdePopoverCloseOnClick]="false">
      <app-user-likes [(userLikes)] = "userLikes"></app-user-likes>
    </mde-popover>
    <button md-button (mouseover) = "checkUserLikes(false)"
            [mdePopoverTriggerFor]="userCommentLikesPopover" mdePopoverTriggerOn="hover"
            mat-icon-button color="primary" (click)="likeComment(false)">
      <mat-icon [matBadge]="numberDislikes" matBadgeColor="accent" matBadgeSize="medium"
                [matBadgeHidden]="numberDislikes === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button md-button (mouseover) = "checkUserLikes(true)"
            [mdePopoverTriggerFor]="userCommentLikesPopover" mdePopoverTriggerOn="hover"
      mat-icon-button color="primary" (click)="likeComment(true)">
      <mat-icon [matBadge]="numberLikes" matBadgeColor="accent" matBadgeSize="medium"
                [matBadgeHidden]="numberLikes === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="snowEditComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="comment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="updateComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
