<div style="border-radius: 20px">
  <ul style="list-style-type: none; padding: 0;">
    <li *ngFor="let _user of firstUsers">{{_user}}</li>
    <button mat-button *ngIf="userLikes.length > 2" (click)="openDialog()">and {{userLikes.length - 2}} more...</button>
  </ul>
</div>
