<mat-card class="main-content align-center">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div class="avatar-container" (click)="file.click()">
    <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
    <img class="avatar avatar-style" src="{{user.avatar}}" alt="Here should be an avatar">
    <div class="img-text">
      Upload
    </div>

  </div>
  <form name="userForm" [formGroup]="form" class="main-content">
    <mat-form-field>
      <input name="email" [(ngModel)]="user.email" formControlName="email" matInput placeholder="Email">
      <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input name="username" [(ngModel)]="user.userName" formControlName="userName" matInput placeholder="Username">
      <mat-error *ngIf="form.get('userName').invalid">You must enter a value at least 3 characters</mat-error>
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="saveNewInfo()">
      Save
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>
