<div mat-dialog-content>
  Users:
  <ul>
    <li *ngFor="let _user of data.users">{{_user}}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
